@font-face {
    font-family: FranklinMedium;
    src: url('img/FRAMDCN.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FranklinDemi;
    src: url('img/FRADMCN.TTF');
    font-weight: normal;
    font-style: normal;
}

#rostercontainer {
	width: 1280px;
	height: 400px;
    left: 0px;
    top: 0px;
	font-family: FranklinDemi, helvetica, arial;
    overflow: hidden;
}

#rosterheadercontainer {
	width: 550px;
	height: 30px;
    left: 161px;
    position: relative;
}

.rosterheader {
	box-sizing: border-box;
	width: 275px;
	height: 30px;
	float: left;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16),0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

#rosterheaderleft {
	background-color: rgb(21, 101, 192);
	position: relative;
	left: -436px;
}

#rosterheaderright {
	background-color: rgb(255, 109, 0);
	position: relative;
	left: 456px;
}

.crewname {
	width: 227px;
	height: 30px;
	float: left;
	overflow: hidden;
	line-height: 30px;
    font-weight: bold;
    font-size: 26px;
}

#crewnameleft {
	text-align: right;
    color: white;
}

#crewnameright {
	text-align: left;
}

.crewstock {
	width: 30px;
	height: 30px;
	float: left;
	overflow: hidden;
	line-height: 30px;
	font-size: 26px;
    font-weight: bold;
}

#crewstockleft {
	text-align: right;
	margin-right: 10px;
    margin-left: 8px;
    color: white;
}

#crewstockright {
	text-align: left;
	margin-left: 10px;
    margin-right: 8px;
}

#rosterbodycontainer {
	width: 550px;
	height: 300px;
}

.roster {
	width: 275px;
	height: 300px;
	float: left;
	font-size: 24px;
    line-height: 26px;
    font-family: FranklinMedium, helvetica, arial;
    position: relative;
}

#rosterleft {
	text-align: right;
    left: 161px;
}

#rosterright {
	text-align: left;
    left: 161px;
}

.rosterentry {
	box-sizing: border-box;
	width: 275px;
	height: 30px;
	background-color: #eee;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16),0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

#rosterleft .rosterentry {
	padding-right: 10px;
	position: relative;
	left: -436px;
}

#rosterright .rosterentry {
	padding-left: 10px;
	position: relative;
	left: 456px;
}