@font-face {
    font-family: FranklinMedium;
    src: url('img/FRAMDCN.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FranklinDemi;
    src: url('img/FRADMCN.TTF');
    font-weight: normal;
    font-style: normal;
}

body {
	overflow: hidden;
}

#container {
	width: 1920px;
	height: 192px;
}

#logocontainer {
	width: 180px;
	height: 176px;
	background: url('img/arrow.svg');
	position: absolute;
    top: 5px;
	z-index: 2;
}

#logo {
	margin-left: 8px;
	margin-top: 11px;
	width: 128px;
	height: 128px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 85%;
}

#lowerthirdcontainer {
	width: 1088px;
	height: 96px;
	position: absolute;
	top: 32px;
}

#lowerthird {
	width: 1088px;
	height: 96px;
	background-color: white;
	/*background-position: 36px;*/
	/*background: -moz-linear-gradient(left, #ededee 0%, #9e9e9f 100%);
	background: -webkit-linear-gradient(left, #ededee 0%, #9e9e9f 100%);
	box-shadow: 3px 3px 20px 1px #333;*/
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16),0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	position: absolute;
    animation-name: loadAnim;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;


  	font-family: FranklinDemi, helvetica, arial;
}
@keyframes loadAnim {
    0% {
        transform: translateX(-1650px);
    }
    100% {
        transform: translateY(0);
    }
}
#lowerthirdtoptext {
	width: 920px;
	padding: 0px 0 0px 196px;
  	font-size: 63px;
    line-height: 63px;
    font-weight: bold;
  	color: #000000;
}

#lowerthirddivider {
	position: absolute;
	width: 1080px;
	height: 2px;
	top: 63px;
	background: #757575;
}

#lowerthirdbottomtext {
	width: 920px;
	padding: 4px 0 0 196px;
    font-family: FranklinMedium;
    line-height: 26px;
	font-size: 26px;
	color: #424242;
}