@font-face {
    font-family: FranklinMedium;
    src: url('img/FRAMDCN.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FranklinDemi;
    src: url('img/FRADMCN.TTF');
    font-weight: normal;
    font-style: normal;
}

.body {
    overflow: hidden;
    display: none;
}
.container {
    width: 1600;
    height: 900;
    position: absolute;
    background-color: rgba( 0, 0, 0, .80);
}
#info {
	width: 1600px;
	height: 125px;
	color: #FFF;
}

#bracket-name {
    margin-left: 8px;
	height: 67px;
	font-size: 3.25em;
    text-shadow: 2px 2px 2px #222;
    font-family: FranklinDemi, helvetica, arial;
}

#bracket-link {
    margin-left: 8px;
	height: 42px;
	font-size: 1.5em;
    color: #757575;
    font-family: FranklinMedium, helvetica, arial;
}

#bracket {
	width: 1600px;
	height: 583px;
    font-family: helvetica, arial;
}

.set {
	width: 183px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}

.player {
	width: 183px;
	height: 25px;
    color: #FFF;
	background-color: #626262;
	/*border: 1px solid #444444;*/
	box-sizing: border-box;
	text-align: left;
    text-shadow: 1px 1px 1px #222;
    
}

.player-top {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
    margin-bottom: 1px;
}

.player-bottom {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.name {
	float: left;
	width: 154px;
	height: 20px;
    margin-left: 4px;
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 154px;
    line-height: 22px;
}

.score {
	float: left;
	width: 25px;
	height: 25px;
    color: #111;
    text-shadow: none;
	/*border: 1px solid #626262;*/
    background-color: #808080;
	box-sizing: border-box;
	text-align: center;
    font-size: 22px;
}

.score-top {
    border-top-right-radius: 3px;
}

.score-bottom {
    border-bottom-right-radius: 3px;
}

.bracket-location {
    background-color: #3e3e3e;
    color: #FFF;
    width: 183px;
    text-align: center;
    position: absolute;
    font-size: 17px;
    line-height: 17px;
}

.column {
	float: left;
}

.set-column {
	width: 183px;
	height: 583px;
}

.spacing-column {
	width: 16px;
	height: 583px;
}

.spacing-half {
	float: left;
	width: 8px;
}

.winners, .losers {
	height: 292px;
}

#l1m1, #r1m1 {
	top: 64px;
}

#l1m2, #r1m2 {
	top: 128px;
}

#l2m1 {
	top: 52px;
}

#l2m2 {
	top: 116px;
}

#l3m1 {
	top: 108px;
}

#l4m1 {
	top: 96px;
}

#r2m1 {
	top: 121px;
}

#r3m1, #r3m2 {
	top: 267px;
}